{{ define "main" }}
<section id="blog-single" class="blog-single section section--border-bottom rad-animation-group flex-grow-1">
  <div id="main-content">
    <h1><a href="{{ .RelPermalink }}">{{ .Title }}</a></h1>

    <aside id="meta" class="light-border-bottom">
      <div>
        <section>
         
          <p class="post-meta">
            {{ i18n "published_on" }} {{ .Date | time.Format (i18n "date_format") }}
            ·
            {{ .WordCount }} {{ i18n "words" | default "Wörter" }}
          </p>
       
       
        </section>
        {{ with .GetTerms "topics" }}
        <ul id="topics">
          {{ range . }}
          <li><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></li>
          {{ end }}
        </ul>
        {{ end }} {{ with .GetTerms "tags" }}
        <ul class="tags">
          {{ range . }}
          <li><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></li>
          {{ end }}
        </ul>
        {{ end }}
      </div>
    </aside>

    <div class="row flex-column-reverse flex-md-row rad-fade-down">
      <div class="col-12">{{ .Content | safeHTML }}</div>
    </div>

    <aside class="content-browser light-border-top">
      {{ i18n "continue_reading" }}
      <div>
        {{ with .PrevInSection }}
        <a class="previous" href="{{ .RelPermalink }}">↩ {{ .LinkTitle }}</a>
        {{ end }}
        ■
        {{ with .NextInSection }}
        <a class="next" href="{{ .RelPermalink }}"> {{ .LinkTitle }} ↪</a>
        {{ end }}
      </div>
    </aside>
  </div>
</section>
{{ end }}