.lead {             /* Changes Format in the Showcase Section */
  line-height: 1.6 !important;
  /*font-size: 1.4rem;  optional – falls du die Schriftgröße leicht erhöhen möchtest */
   /* max-width: 700px;*/   /* optional – begrenzt die Breite für bessere Lesbarkeit */
}

.about-me.content.lead { /* Changes Format in the About Me Section */
  line-height: 1.6 !important;
  /*font-size: 1.2rem;
  color: #333;
  padding-right: 1rem; */
}

